:root {
  --dark-green: #024d04;
  --medium-green: #0dab05;
  --light-green: #a2f9ab;
  --black: #000000;
  --white: #ffffff;
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.welcome {
  font-family: "Merriweather Sans", sans-serif;
  color: var(--dark-green);
  text-align: center;
}

.title-and-subtitle {
  border: 5px solid var(--black);
  border-radius: 20px;
  margin: 30px 20px;
  padding: 10px;
  background-color: var(--light-green);
}

.title-and-subtitle h1 {
  font-weight: 800;
  font-size: 50px;
  text-shadow: 1px 1px var(--black);
}

.title-and-subtitle h2 {
  font-weight: 400;
  font-style: italic;
  font-size: 25px;
}

.name-and-notes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid var(--black);
  border-radius: 20px;
  margin: 30px 20px;
  padding: 10px;
  background-color: var(--light-green);
  align-items: center;
  font-size: 22px;
}

.name b {
  font-size: 23px;
}

.name strong {
  font-weight: 300;
}

.notes {
  max-width: 500px;
}

.notes b {
  font-size: 23px;
}

.notes em {
  font-weight: 300;
}

.button-to-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border: 5px solid var(--black);
  border-radius: 20px;
  margin: 30px 20px;
  padding: 10px;
  background-color: var(--light-green);
  align-items: center;
  font-size: 22px;
  font-weight: 800;
  text-decoration: none;
  text-shadow: 1px 1px var(--black);
}

.button-to-main:link {
  color: var(--dark-green);
}

.button-to-main:active {
  color: var(--medium-green);
}

.button-to-main:visited {
  color: var(--dark-green);
}

.button-to-main:hover {
  box-shadow: 15px 10px 8px -1px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.3s ease-in-out;
}
